/* root styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
/* set up header with linear-gradient background */
header {
    width: 100vw;
    font-size: 2rem;
    justify-content: center;
    background: rgb(2,0,36);
    background: linear-gradient(265deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 28%, rgba(0,212,255,1) 100%);
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px white;
    margin: 10px;
    
}

.mainContainer {
    margin: 10px;
    padding: 0 5px 5px 0;
    width: 100vw;
    display: flex;
}

.searchContainer {
    width: 33%;
    margin: 2px;
}

.searchForm {
    border-bottom: 3px solid grey;
    padding: 0 0 .25rem 0;
}

.searchForm h3 {
    font-weight: bolder;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px lightgray;
    margin: .25rem;
    width: 100%;
    
}

.searchField {
    width: 100%;
    
}

#city {
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    margin: .25rem 0 .5rem 0;
    background-color: white;
    border-color: lightgray;


}

.button {
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    margin: .25rem 0 .5rem 0;
    color: white;
    background: rgb(101, 163, 255);
    box-shadow: 1px 1px 2px black;

}

/*.results {
    border: 1px solid black;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    margin: .25rem 0 .5rem 0;
    background-color: rgb(175, 175, 175);
    border-color: black;
    text-align: center;
    font-size: .8rem;


}*/

.weather {
    width: 66%;
    height: auto;
    margin: 0 10px 5px 10px;
    display: flex;
    flex-direction: column;

}
/* current weather info */
.currentInfo {
    border: 2px solid lightgray;
    border-radius: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.today h3 {
    text-transform: capitalize;
    margin: .25rem;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px lightgray;
    padding-right: .5rem;

}
.today span {
    padding-right: .5rem;
}
.currentInfo p {
    font-size: 1rem;
    padding: .25rem .25rem .5rem .25rem;
    text-shadow: 1px 1px 2px lightgray;
    margin: .25rem;

}
.today {
    display: inline-flex;
}
.today span {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px lightgray;

}
/* UV Index style */
.uvColors {
    font-size: 20px;
}

.favorable {
    background-color: green;
    border: 1px solid black;
    box-shadow: 1px 1px 2px green;

    
}
.moderate {
    background-color: yellow;
    border: 1px solid black;
    box-shadow: 1px 1px 2px yellow;

}
.severe {
    background-color: red;
    border: 1px solid black;
    box-shadow: 1px 1px 2px red;

}
/* saved searches styling */
li {
    border: 1px solid black;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    margin: .25rem 0 .5rem 0;
    background-color: rgb(175, 175, 175);
    border-color: black;
    box-shadow: 1px 1px 2px black;
    text-align: center;
    font-size: .8rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px white;

}

/* 5 day forecast styling */

.forecastContainer {
    display: flex;
    position: relative;

}
.forecastTitle {
    position: relative;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: bold;
    margin: .25rem;

}

.forecastBox {
    margin: .25rem;
    padding: .25rem;
    justify-content: space-evenly;
    position: relative;
    margin-top: 1.5rem;
    border: 1px solid navy;
    background-color: rgba(0, 0, 88, 0.959);
    color: white;
}

.forecastBox span {
    position: absolute;
    font-size: 1.5rem;
    font-weight: bold;
    
}
.forecastBox img {
    margin: 1rem 0 0 0;
}
.forecastBox p {
    padding: .5rem 0;
}


